<th:block xmlns:th="http://www.thymeleaf.org">
	
	<h4 th:text="${'Screen layout ' + screen.name}">screen name</h4>
	
	<div th:if="${message} != null" th:text="${message}" class="alert alert-warning" role="alert"></div>
       
  	<div id="demoWrapper">
  		<div th:each="panel : ${panels}" th:style="${'grid-area: ' + panel.rowStart + ' / ' + panel.columnStart + ' / span ' + panel.height + ' / span ' + panel.width}" th:id="${panel.safeName}" class="box">
  			<span th:text="${panel.name}">name</span>
  		</div>
  	</div>
<th:block>

<script>
	selectPanelAgain();
</script>