#demoWrapper{
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	padding: 5px;
	border: 1px dotted #333;
	min-height: 400px;
	
}

#demoWrapper div.box{
	border-radius: 5px;
	background-color: lime;
	padding: 5px;
	border: 1px solid #333;
	font-size: 8pt;
}
#demoWrapper div.selected{
	background-color: orange;
}