div.form-element{
	padding-top: 5px;
	padding-bottom: 5px;
}
div.form-element input,
div.form-element select{
	padding: 5px;
	min-width: 200px;
	clear:both;
	float: right;
	outline: none;
	margin-right: 5px;
	border: 1px solid #333;
	background-color: #fff;
	line-height: 1;
	border-radius: 3px;
}

div.form-element select{
	-webkit-appearance: none;
	-moz-appearance: none;
}

div.form-element label{
	padding: 5px;
	
}