<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<title th:text="${title}">Title</title>
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/open-iconic-bootstrap.css" rel="stylesheet">
	<link href="/css/config.css" rel="stylesheet">
</head>
<body>
	<div id="menuHolder"></div>

	<div class="container">
	  	<h1>Oops!</h1>
        <p class="lead">Something went terribly wrong!</p>
        <br/>
        
        
        <table class="table table-striped">
		  <tbody>
		    <tr>
        <td>Date</td>
        <td th:text="${timestamp}"/>
		    </tr>
		    <tr>
		        <td>Path</td>
		        <td th:text="${path}"/>
		    </tr>
		    <tr>
		        <td>Error</td>
		        <td th:text="${error}"/>
		    </tr>
		    <tr>
		        <td>Status</td>
		        <td th:text="${status}"/>
		    </tr>
		    <tr>
		        <td>Message</td>
		        <td th:text="${message}"/>
		    </tr>
		    <tr>
		        <td>Exception</td>
		        <td th:text="${exception}"/>
		    </tr>
		    <tr>
		        <td>Trace</td>
		        <td>
		            <pre th:text="${trace}">trance</pre>
		        </td>
		    </tr>
		  </tbody>
		</table>
        
	</div>
	
	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/loadMenu.js"></script>
    
   
 	
</body>
</html>